
@{
    ViewBag.Title = "Unauthorized";
}
<h2>Access Denied</h2>
<p>You do not have permission to access this page. Please contact your administrator if you believe this is an error.</p>
<a href="@Url.Action("Index", "File")" class="btn btn-primary">Back to Home</a>
